<div class="alert alert-success" role="alert" *ngIf="successAlert">Success!
  <button type="button" class="close" aria-label="Close" (click)="closeAlert('success')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger" role="alert" *ngIf="failAlert">Failed!
  <button type="button" class="close" aria-label="Close" (click)="closeAlert('fail')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (ngSubmit)="submitMessage()">
  <div class="form-group">
    <label for="#emailInput">Email</label>
    <input type="email" class="form-control" placeholder="Email" id="emailInput" name="email" required [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="#messageInput">Message</label>
    <textarea class="form-control" placeholder="Message" id="messageInput" name="message" style="resize: vertical" required [(ngModel)]="message">
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>