<div class="jumbotron">
  <h1>
    Resume
  </h1>
</div>
<div class="well well-lg" id="skills">
  <div class="row">
    <h1 class="col-md-4">Skills</h1>
    <div class="col-md-4">
      <h3 class="text-center">Comfortable With</h3>
      <ul>
        <li>HTML/CSS/Javascript</li>
        <li>Angular</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Jasmine BDD Framework</li>
        <li>Sass</li>
        <li>Typescript</li>
        <li>Git</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Past Experience</h3>
      <ul>
        <li>JQuery</li>
        <li>QUnit Testing Framework</li>
        <li>Python</li>
        <li>Django</li>
        <li>C#</li>
        <li>ASP.NET Core</li>
        <li>NUnit Testing Framework</li>
      </ul>
    </div>
  </div>
</div>
<div class="well well-lg" id="education">
  <div class="row">
    <h1 class="col-md-4">Education</h1>
    <div class="col-md-8">
      <h2>Master of Science, Computer Science</h2>
      <h3>Applied Computer Science</h3>
      <h4 class="pad">East Tennessee State University <small>Johnson City, TN, 2013-2015</small></h4>

      <h2>Bachelor of Science</h2>
      <h3>Computer Information Systems and Mathematics <small>Double Major</small></h3>
      <h4>Milligan College <small>Milligan College, TN, 2009-2013</small></h4>
    </div>
  </div>
</div>
<div class="well well-lg" id="experience">
  <div class="row">
    <h1 class="col-md-4">Experience</h1>
    <div class="col-md-8">
      <h2>Adjunct Professor</h2>
      <h4>Milligan College <small>Milligan College, TN, 2016-Present</small></h4>
      <p class="pad">I am currently an adjunct professor for the computer department at Milligan College.</p>

      <h2>Graduate Assisstant</h2>
      <h4>East Tennessee State University, ITS Department <small>Johnson City, TN, 2013-2015</small></h4>
      <p class="pad">I assisted the Network Support Specialist in the day-to-day maintenance of the university’s LAN. This involved the
        installation of Cisco switches and Wireless Access Points, troubleshooting any problems faculty and staff had connecting
        to the network, assisting in the installation and repair of ethernet wall jacks, and connecting them to the network.</p>

      <h2>Lead Xamarin Programmer</h2>
      <h4>East Tennessee State University, Graduate Capstone <small>Johnson City, TN, 2014-2015</small></h4>
      <p>I led a team in the design and implementation of an iOS application for the National Storytelling Festival. The goal
        of the project was to complement the Festival’s paper programs with an iOS version.</p>
      <p>We used Xamarin Forms and C# to build the application. At the time, it was still being developed, and we had to work
        around bugs to get it to do what we wanted. We attempted to use an Agile environment for development, but it was
        a semester and a half before we got it working. Git was our first VCS, but we later changed to Mercurial. We attempted
        a Test Driven Development approach using NUnit, but this proved to be impractical as most of our code was integrated
        with Xamarin. So, we dropped the Driven Development part and just wrote tests where we could.</p>
      <p class="pad">I did most of the most of work deploying the app to the Apple App Store and then sent the updates as well.</p>

      <h2>Internship</h2>
      <h4>Milligan College <small>Milligan College, TN, 2012-2013</small></h4>
      <p>I designed and built a mobile application for Milligan College using Appcelerator. Their Titanium SDK allowed me to
        easily design the app for both iOS and Android platforms. The project was a proof of concept to determine if the
        college wanted to pursue further development. This meant I was the only developer on the project and that I had a
        lot of freedom in the design. The design process was Agile, though only by accident since I didn’t know about Agile
        at that time. I would show my work to the “customers”, get feedback, make changes, and repeat.</p>
    </div>
  </div>
</div>