<div class="jumbotron">
  <h1>
    Hi! <small>My name is Dale Giblin</small>
  </h1>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="well" id="about">
      <h1>About Me</h1>
      <p>I am a front-end web developer living in Mooresville, Indiana.</p>
      <p>I love programming and almost always have new projects running through my mind.</p>
      <p>My framework of choice is Angular, though I have used ASP.NET and Django in the past.</p>
      <p>Other technologies I am familiar with are listed on my Resume page.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well" id="contact">
      <h1>Contact Me</h1>
      <contact-form></contact-form>
    </div>
  </div>
</div>